
/* главный блок шапки */
.block-header{
    background-color: #e0e0e0;
    display: flex;
    flex-direction: row;
    align-items: center;

    border-bottom: 1px solid;
    border-color: rgb(189, 189, 189);
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);

    height: 5rem;
}

    /* заголовок шапки */
    .block-header__title{
        width: 175px;
        height: 30px;
        margin-left: 5rem;
    }

    /* блок поиска */
    .div-search{
        display: flex;
        align-items: center;
        margin-left: auto;
        justify-content: flex-end;

        height: 2rem;
        width: 57.5rem;
    }

        /* сам поиск */
        .div-search__input{
            height: 2rem;
            width: 22rem;
            padding-left: 10px;

            border: 1px solid;
            border-color: rgb(189, 189, 189);
            outline: none;
        }

        /* кнопка поиска */
        .div-search__button{
            height: 2.3rem;
            width: 2rem;
        
            border: 1px solid;
            border-color: rgb(189, 189, 189);
            cursor: pointer;
        }

    /* блок иконок */
    .block-icon{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: auto;
        
        height: 5rem;
        width: 18rem;
        margin-right: 5rem;
    }

        /* для каждой иконки */
        .block-icon__div{
            display: flex;
            align-items: center;
            color: #000 !important;
            text-decoration: none;
        }

            /* размер иконок */
            .block-icon__div-size{
                height: 30px;
                width: 30px;
            }
