.page{
    display: flex;
    flex-direction: column;
}

.tools{
    margin-top: 0.5rem;
    display: flex;
    height: 1.5rem;
}

.user_name{
    display: flex;
    width: 18rem;
    justify-content: space-between;
}

.image{
    margin: 2rem;
    display: flex;
    width: 30rem;
    height: 30rem;
}

.profile{
    display: flex;
    height: 29rem;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgb(207, 207, 207);
}

.avatar{
    display: flex;
    height: 25rem;
}

.information{
    width: 22rem;
    margin-left: 3rem;
}

.user{
    height: 25rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.lenta{
    display: flex;
    height: 13rem;
}