.app {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.drop-area{
    padding: 4rem;
    border: 5px dashed black;
    display: flex;
    align-items: center;
    justify-content: center;
}